In [335]:
import pandas as pd
import numpy as np

train = pd.read_csv(r'../input/mobile-price-classification/train.csv')
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [336]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [337]:
test = pd.read_csv(r'../input/mobile-price-classification/test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

In [338]:
features = ['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width',
           'ram', 'sc_h', 'sc_w', 'talk_time']

In [339]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

for i in features:
    k = np.array(train[i])
    k = k.reshape(-1, 1)
    K = scaler.fit_transform(k)
    train[i] = K

In [340]:
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0.227789,0,0.68,0,0.052632,0,0.080645,0.555556,0.900000,0.142857,...,0.010204,0.170895,0.612774,0.285714,0.388889,0.944444,0,0,1,1
1,0.347361,1,0.00,1,0.000000,1,0.822581,0.666667,0.466667,0.285714,...,0.461735,0.993324,0.634687,0.857143,0.166667,0.277778,1,1,0,2
2,0.041416,1,0.00,1,0.105263,1,0.629032,0.888889,0.541667,0.571429,...,0.644388,0.811749,0.627205,0.428571,0.111111,0.388889,1,1,0,2
3,0.076152,1,0.80,0,0.000000,0,0.129032,0.777778,0.425000,0.714286,...,0.620408,0.858478,0.671566,0.785714,0.444444,0.500000,1,0,0,2
4,0.881764,1,0.28,0,0.684211,1,0.677419,0.555556,0.508333,0.142857,...,0.616327,0.475300,0.308658,0.214286,0.111111,0.722222,1,1,0,1

In [341]:
X = train.drop('price_range', axis = 1)
y = train['price_range']

In [342]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.2)

In [343]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier(n_estimators = 1000)

model.fit(X_train, y_train)

predictions = model.predict(X_test)

ac = accuracy_score(predictions, y_test)

ac

0.8825

In [344]:
for i in features:
    k = np.array(test[i])
    k = k.reshape(-1, 1)
    K = scaler.fit_transform(k)
    test[i] = K

In [345]:
test_copy = test

In [346]:
Test = test.drop('id', axis = 1)

In [347]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1000 non-null   float64
 1   blue           1000 non-null   int64
 2   clock_speed    1000 non-null   float64
 3   dual_sim       1000 non-null   int64
 4   fc             1000 non-null   float64
 5   four_g         1000 non-null   int64
 6   int_memory     1000 non-null   float64
 7   m_dep          1000 non-null   float64
 8   mobile_wt      1000 non-null   float64
 9   n_cores        1000 non-null   float64
 10  pc             1000 non-null   float64
 11  px_height      1000 non-null   float64
 12  px_width       1000 non-null   float64
 13  ram            1000 non-null   float64
 14  sc_h           1000 non-null   float64
 15  sc_w           1000 non-null   float64
 16  talk_time      1000 non-null   float64
 17  three_g        1000 non-null   int64
 18  touch_screen   1000 non-null   int64
 19  wifi           1000 non-null   int64
dtypes: float64(14), int64(6)
memory usage: 156.4 KB

In [348]:
test_output = model.predict(Test)

In [349]:
test_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   float64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   float64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   float64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   float64
 10  n_cores        1000 non-null   float64
 11  pc             1000 non-null   float64
 12  px_height      1000 non-null   float64
 13  px_width       1000 non-null   float64
 14  ram            1000 non-null   float64
 15  sc_h           1000 non-null   float64
 16  sc_w           1000 non-null   float64
 17  talk_time      1000 non-null   float64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(14), int64(7)
memory usage: 164.2 KB

In [350]:
out_df = pd.DataFrame({'id' : test_copy['id'], 'output' : test_output})

out_df.head()

   id  output
0   1       3
1   2       3
2   3       2
3   4       3
4   5       1

In [352]:
from joblib import dump

dump(model, r'./RFModel.joblib')

['./RFModel.joblib']